*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.id{
    height: 100%;
    width: 100%;
    background-image: url(bh-img.webp);
    background-size: cover;
    object-fit: cover;
    
}
.id h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: buttermilk;
    font-weight: 100;
    font-size: 190px;
    color: white;
    mix-blend-mode: difference;
}
